@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
}

a {
    text-decoration: underline;
    color: #186643;
}

#interactiveCode {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
#codewrapper {
    flex: 1;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
}
#viewer .line {
    display: block;
    min-height: 20px;
    counter-increment: line;
    padding: 0;
}
#viewer .line:before {
    content: counter(line);
    margin-left: -40px;
    padding-right: 10px;
    text-align: right;
    width: 30px;
    display: inline-block;
    color: #999999;
    font-size: 10px;
    height: 0;
}
#viewer, #editor {
    width: calc(100% - 52px); /* 100% - paddingL - paddingR - 2*border */
    height: 300px;
    padding: 10px;
    margin: 0px;
    font-size: 14px;
    font-family: monospace;
    padding-left: 40px;
    line-height: 20px;
    overflow: scroll;
    border: 1px solid #CCC;
    display: block;
    box-sizing: content-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    tab-size: 2;
    outline: none;
    letter-spacing: 0px;
}
#viewer { z-index: 0; }
#editor {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: #444;
}
#viewer {
    background: #f8f8f8;
    color: #444444;
    counter-reset: line 0;
}

#consoleContainer {
    flex: 1;
    width: 50%;
}

#consoleCheckboxes label {
    margin-right: 20px;
}

#console {
    display: block;
    overflow: scroll;
    height: 300px;
    padding: 10px;
    margin: 0;
    border: 1px solid #CCC;
    width: calc(100% - 20px - 1px); /* 100% - 2*padding - border */
    background: #ffffff;
    border-left: 0;
    font-size: 14px;
}

#codeAndConsole {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
}

#controls {
    padding: 10px;
    background: #fff;
    border-radius: 7px 7px 0 0;
}

#status {
    border-radius: 0 0 7px 7px;
    border: 1px solid #CCC;
    border-top: 0;
    padding: 5px 10px;
    background: #eeeeee;
    font-size: 12px;
}



#autocomplete {
    width: 500px;
    padding: 0px;
    border: 1px solid #E8E4C1;
    background: #F8F8E2;
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    font-size: 12px;
    box-shadow: 1px 1px 100px #0002, 3px 3px 10px #0008;
    transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s transform ease;
}
@supports (backdrop-filter: blur(50px)) {
    #autocomplete {
        background: #FFFFE080;
        backdrop-filter: blur(50px);
    }
}
#autocomplete.active:not(.inapplicable) {
    opacity: 0.95;
    visibility: visible;
    transform: none;
}
#autocomplete .description {
    display: none;
}
#autocomplete ul {
    margin: 0; padding: 0;
}
#autocomplete li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    overflow: hidden;
}
#autocomplete li.selected {
    background: rgba(0,0,0,0.05);
}
#autocomplete ul li:first-child {
    border-top: 1px solid #CCC;
}
#autocomplete h3 {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    overflow: hidden;
}
#autocomplete.active:not(.inapplicable) li,
#autocomplete.active:not(.inapplicable) h3 {
    transition: 0.3s all ease;
}
#autocomplete li.inapplicable,
#autocomplete h3.inapplicable {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    opacity: 0;
}
#autocomplete  #syntax {
    width: 500px;
    max-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#autocomplete #selected-description {
    width: 480px;
    border-top: 2px solid #CCC;
    padding: 10px;
    font-size: 14px;
}

#checkCode, #example {
    background: #ffffff;
    border: 1px solid #186643;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}
#example {
    margin-left: 20px;
}

#checkCode:hover, #example:hover {
    background: #eeffee;
}

#controls input[type=checkbox] {
    margin-left: 20px;
}

#jumbo {
    background: #186643;
    padding: 30px;
    margin-bottom: 50px;
}

#interactiveCode h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin: 0; padding: 0;
    margin-bottom: 30px;
    font-weight: bold;
}



main, header, footer, #nav, #tagline {
    width: 1200px;
    max-width: 80%;
    margin: auto;
}


header {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

header ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    direction: rtl;
    flex-wrap: wrap;
}
header ul li {
    display: inline;
    font-size: 16px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #186643;
    font-weight: bold;
    padding: 15px 20px;
}
header a:hover {
    background: #186643;
    color: #fff;
}

#tagline {
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}
#tagline a {
    text-decoration: none;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 0;
}
#nav li {
    flex-grow: 1;
    text-align: center;
    list-style: none;
}
#nav li a {
    text-decoration: none;
    padding: 13px 20px;
    background: #186643;
    display: block;
    color: #fff;
    font-weight: bold;
    border: 2px solid #186643;
}
#nav li a:hover {
    background: transparent;
    color: #186643;
}
#nav li a:hover:before {
    color: #999;
}
#nav li a:before {
    content: '# ';
    color: rgba(255,255,255,0.5);
    font-size: 12px;
}

main { line-height: 28px; }
main h1, main h2, main h3, main h4 { font-family: 'Montserrat', sans-serif; }

main h1 {
    margin: 50px 0;
    padding: 20px 30px;
    background: #186643;
    color: #fff;
    font-size: 28px;
    line-height: 40px;
}
main h2 {
    margin-bottom: 30px;
    padding: 20px;
    color: #186643;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #186643;
    text-align: center;
}

main pre, main p code {
    white-space: pre-wrap;
    word-break: break-word;
}

main .prop_card img {
    width: 210px;
    text-align: center;
}
main .prop_card {
    width: 210px;
    padding: 7px 15px;
    margin-bottom: 20px;
}
main .prop_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main .prop_box * {
    text-align: center;
    line-height: 22px;
}
main .prop_card h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
main .prop_card h4 {
    padding: 0;
    margin: 5 0;
    font-weight: normal;
    font-style: italic;
}

footer {
    margin: 50px auto;
    text-align: center;
}

@media (max-width: 950px) {
    #codeAndConsole {
        display: block;
    }
    #consoleContainer {
        margin-top: 20px;
        width: 100%;
    }
}
