html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}
#interactiveCode {
    max-width: 1200px;
    margin: auto;
}
#codewrapper {
    position: relative;
    height: 200px;
    margin: 0;
    padding: 0;
    flex: 1;
}
#viewer .line {
    display: block;
    min-height: 20px;
    counter-increment: line;
    padding: 0;
}
#viewer .line:before {
    content: counter(line);
    margin-left: -40px;
    padding-right: 10px;
    text-align: right;
    width: 30px;
    display: inline-block;
    color: #999999;
    font-size: 10px;
    height: 0;
}
#viewer, #editor {
    width: calc(100% - 52px); /* 100% - paddingL - paddingR - 2*border */
    height: 300px;
    padding: 10px;
    margin: 0px;
    font-size: 14px;
    font-family: monospace;
    padding-left: 40px;
    line-height: 20px;
    overflow: scroll;
    border: 1px solid #CCC;
    display: block;
    box-sizing: content-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    tab-size: 2;
    outline: none;
}
#viewer { z-index: 0; }
#editor {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: #444;
}
#viewer {
    background: #f8f8f8;
    color: #444444;
    counter-reset: line 0;
}

#consoleContainer {
    flex: 1;
    width: 100%;
}

#consoleCheckboxes label {
    margin-right: 20px;
}

#console {
    display: block;
    overflow: scroll;
    height: 300px;
    padding: 10px;
    margin: 0;
    border: 1px solid #CCC;
    width: calc(100% - 20px - 1px); /* 100% - 2*padding - border */
    background: #ffffff;
    white-space: break-spaces;
    border-left: 0;
}

#codeAndConsole {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#controls {
    padding: 10px;
    background: #fff;
    border-radius: 7px 7px 0 0;
}

#status {
    border-radius: 0 0 7px 7px;
    border: 1px solid #CCC;
    border-top: 0;
    padding: 5px 10px;
    background: #eeeeee;
    font-size: 12px;
}



#autocomplete {
    width: 500px;
    padding: 0px;
    border: 1px solid #E8E4C1;
    background: #FFFFE0;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    font-size: 12px;
}
#autocomplete .description {
    display: none;
}
#autocomplete ul {
    margin: 0; padding: 0;
}
#autocomplete li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
#autocomplete li.selected {
    background: rgba(0,0,0,0.05);
}
#autocomplete ul li:first-child {
    border-top: 1px solid #CCC;
}
#autocomplete h3 {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 35px;
}
#autocomplete .hint {
    font-size: 10px;
    padding: 10px;
}
#autocomplete  #syntax {
    width: 500px;
    height: 200px;
    overflow-y: scroll;
}
#autocomplete #selected-description {
    width: 480px;
    border-top: 2px solid #CCC;
    padding: 10px;
    font-size: 14px;
}

#checkCode, #example {
    background: #ffffff;
    border: 1px solid #186643;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}
#example {
    margin-left: 20px;
}

#checkCode:hover, #example:hover {
    background: #eeffee;
}

#controls input[type=checkbox] {
    margin-left: 20px;
}

#jumbo {
    background: #186643;
    padding: 50px;
    margin-bottom: 50px;
}

#interactiveCode h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin: 0; padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #666;
}

#interactiveCode h2 {
    font-weight: 300;
    padding: 0;
    width: 80%;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-shadow: 1px 1px 0 #666;
}




main, header, footer {
    width: 1200px;
    max-width: 80%;
    margin: auto;
}


header {
    padding: 30px 0;
    display: flex;
}

header ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    direction: rtl;
}
header ul li {
    display: inline;
    padding: 0 10px;
    font-size: 16px;
    align-items: center;
}




main .prop_card img {
    width: 210px;
    text-align: center;
}
main .prop_card {
    width: 210px;
    padding: 7px 15px;
    margin-bottom: 20px;
}
main .prop_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .prop_card h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}
main .prop_card h4 {
    padding: 0;
    margin: 5 0;
    font-weight: normal;
}
main .prop_card p {
    text-align: justify;
}


footer {
    margin: 30px auto;
    text-align: center;
}

