@font-face {
    font-family: 'Montserrat';
    src:
      /* local('Montserrat Regular'), */
      /* local('Montserrat-Regular'), */
      url('/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('/fonts/Montserrat-Regular.woff') format('woff'),
      url('/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src:
      /* local('Montserrat Italic'), */
      /* local('Montserrat-Italic'), */
      url('/fonts/Montserrat-Italic.woff2') format('woff2'),
      url('/fonts/Montserrat-Italic.woff') format('woff'),
      url('/fonts/Montserrat-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src:
      /* local('Montserrat ExtraBold'), */
      /* local('Montserrat-ExtraBold'), */
      url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('/fonts/Montserrat-ExtraBold.woff') format('woff'),
      url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src:
      /* local('Montserrat ExtraBold Italic'), */
      /* local('Montserrat-ExtraBoldItalic'), */
      url('/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
      url('/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src:
      local('DejaVuSansMono'),
      local('DejaVuSansMono'),
      url('/fonts/DejaVuSansMono.woff2') format('woff2'),
      url('/fonts/DejaVuSansMono.woff') format('woff'),
      url('/fonts/DejaVuSansMono.ttf') format('truetype');
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src:
      local('DejaVuSansMono Bold'),
      local('DejaVuSansMono-Bold'),
      url('/fonts/DejaVuSansMono-Bold.woff2') format('woff2'),
      url('/fonts/DejaVuSansMono-Bold.woff') format('woff'),
      url('/fonts/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

#section-scala-dsl + h2 + p {
    text-align: left;
}
img[src="crdt.svg"] {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 50px;
    margin-top: -30px;
    float: right;
}
@media (max-width: 950px) {
    img[src="crdt.svg"] {
        float: none;
        margin: auto;
    }
}
img[src="gcounter.svg"] {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 30px;
    float: right;
}
img[src="gcounter.svg"] + p + p {
    clear: both;
}
@media (max-width: 1200px) {
    img[src="gcounter.svg"] {
        float: none;
        margin: auto;
    }
}


html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    background: white;
    scroll-behavior: smooth;
}
::selection {
    background: #08b96a;
    color: white;
}

a {
    text-decoration: underline;
    color: #186643;
}
.summary > p, main > p, main > ol, main > ul {
    text-align: justify;
    hyphens: auto;
}
pre, code {
    font-family: 'DejaVu Sans Mono', monospace;
}

input[type="button"], button, select {
    background: #ffffff;
    border: 1px solid #186643;
    border-radius: 3px;
    padding: 5px 7px;
    cursor: pointer;
}
input[type="button"]:hover, button:hover, select:hover {
    background: #eeffee;
}

#interactiveCode {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}
#codewrapper {
    flex: 1;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
}
.line {
    display: block;
    min-height: 20px;
    counter-increment: line;
    padding: 0;
}
#viewer .line:before {
    content: counter(line);
    margin-left: -40px;
    padding-right: 10px;
    text-align: right;
    width: 30px;
    display: inline-block;
    color: #999999;
    font-size: 10px;
    height: 0;
}
#viewer, #editor {
    width: calc(100% - 52px); /* 100% - paddingL - paddingR - 2*border */
    height: 300px;
    padding: 10px;
    margin: 0px;
    font-size: 14px;
    font-family: 'DejaVu Sans Mono', monospace;
    padding-left: 40px;
    line-height: 20px;
    overflow-y: scroll;
    border: 1px solid #CCC;
    display: block;
    box-sizing: content-box;
    white-space: break-spaces;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    tab-size: 2;
    outline: none;
    letter-spacing: 0px;
}
#editor::selection {
    background: #08b96a66;
    color: transparent;
}
#editor {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: #444;
}
#viewer {
    z-index: 0;
    background: #f8f8f8;
    color: #444444;
    counter-reset: line 0;
}

#consoleContainer {
    flex: 1;
    width: 50%;
}

#consoleCheckboxes label {
    margin-right: 20px;
}

#console {
    display: block;
    overflow: scroll;
    height: 300px;
    padding: 10px;
    margin: 0;
    border: 1px solid #CCC;
    width: calc(100% - 20px - 1px); /* 100% - 2*padding - border */
    background: #ffffff;
    border-left: 0;
    font-size: 14px;
}

#codeAndConsole {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
}

#controls {
    padding: 10px;
    background: #fff;
    border-radius: 7px 7px 0 0;
}

#status {
    border-radius: 0 0 7px 7px;
    border: 1px solid #CCC;
    border-top: 0;
    padding: 5px 10px;
    background: #eeeeee;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
}



#autocomplete {
    width: calc(100% - 2px - 100px);
    max-width: 500px;
    padding: 0px;
    border: 1px solid #E8E4C1;
    background: #F8F8E2;
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    font-size: 12px;
    box-shadow: 1px 1px 100px #0002, 3px 3px 10px #0008;
    transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s transform ease, 0.3s top step-end, 0.3s left step-end;
}
@supports (backdrop-filter: blur(50px)) {
    #autocomplete {
        background: #FFFFE080;
        backdrop-filter: blur(50px);
    }
}
#autocomplete.active:not(.inapplicable) {
    opacity: 0.95;
    visibility: visible;
    transform: none;
    transition: 0.3s opacity ease, 0.3s visibility ease, 0.3s transform ease;
}
#autocomplete .description {
    display: none;
}
#autocomplete ul {
    margin: 0; padding: 0;
}
#autocomplete li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    overflow: hidden;
}
#autocomplete li.selected {
    background: rgba(0,0,0,0.05);
}
#autocomplete ul li:first-child {
    border-top: 1px solid #CCC;
}
#autocomplete h3 {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    overflow: hidden;
}
#autocomplete.active:not(.inapplicable) li,
#autocomplete.active:not(.inapplicable) h3 {
    transition: 0.3s all ease;
}
#autocomplete li.inapplicable,
#autocomplete h3.inapplicable {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    opacity: 0;
}
#autocomplete  #syntax {
    max-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#autocomplete #selected-description {
    border-top: 2px solid #CCC;
    padding: 10px;
    font-size: 14px;
}

#example {
    margin-left: 20px;
}
#controls input[type=checkbox] {
    margin-left: 20px;
}

#jumbo {
    background: #186643;
    padding: 30px;
    margin-bottom: 50px;
}

#interactiveCode h1 {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin: 0; padding: 0;
    margin-bottom: 10px;
    font-weight: bold;
}
#interactiveCode p {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
#interactiveCode p a {
    color: #fff;
}


main, header, footer, .summary {
    width: 1200px;
    max-width: 80%;
    margin: auto;
}

main .preview {
    font-size: 14px;
    counter-reset: line 0;
    display: flex;
    flex-direction: column;
}
main .preview .line {
    min-height: 0px;
    line-height: 20px;
    counter-increment: line;
}
main .preview .line:before {
    content: counter(line);
    font-size: 10px;
    color: #666;
    margin-left: -40px;
    padding-right: 10px;
    width: 30px;
    display: inline-block;
    text-align: right;
}

main .code-example {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.code-example-50 {
    width: 50%;
}
.code-example-50 pre {
    margin-left: 20px;
}

main pre .line
{
  display: inline-block;
  white-space: pre-wrap;
}
main pre .line.indent-0
{
  margin-left: 2ch;
  text-indent: -2ch;
}
main pre .line.indent-1, main pre .line.indent-2
{
  margin-left: 4ch;
  text-indent: -4ch;
}
main pre .line.indent-3, main pre .line.indent-4
{
  margin-left: 6ch;
  text-indent: -6ch;
}
main pre .line.indent-5, main pre .line.indent-6
{
  margin-left: 8ch;
  text-indent: -8ch;
}
main pre .line.indent-7, main pre .line.indent-8
{
  margin-left: 10ch;
  text-indent: -10ch;
}
main pre .line.indent-9, main pre .line.indent-10
{
  margin-left: 12ch;
  text-indent: -12ch;
}
main pre .line.indent-11, main pre .line.indent-1
{
  margin-left: 14ch;
  text-indent: -14ch;
}

header {
    padding-top: 40px;
    padding-bottom: 10px;
}
header img {
    margin: auto;
    display: block;
    max-width: 350px;
    width: 100%;
    height: auto;
}

header ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    direction: rtl;
    flex-wrap: wrap;
}
header ul li {
    display: inline;
    font-size: 16px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #186643;
    font-weight: bold;
    padding: 15px 20px;
}
header a:hover {
    background: #186643;
    color: #fff;
}

#tagtitle {
    text-align: center;
    /*
    border-top: 1px solid #18664344;
    padding-top: 30px;
    margin-top: 15px;
    */
    margin-bottom: 10px;
}
#tagline {
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    margin: 0 auto 20px;
    max-width: 430px;
}
#tagtitle a, #tagline a {
    text-decoration: none;
}
.summary p {
    border-top: 1px solid #18664344;
    padding-top: 20px;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 0;
    width: 100%;
}
nav ul li {
    flex-grow: 1;
    text-align: center;
    list-style: none;
    flex: 1;
    white-space: nowrap;
}
nav ul li a {
    text-decoration: none;
    padding: 13px 20px;
    background: #186643;
    display: block;
    box-sizing: border-box;
    height: 100%;
    color: #fff;
    font-weight: bold;
    border: 2px solid #186643;
}
nav ul li a:hover {
    background: transparent;
    color: #186643;
}
nav ul li a:hover:before {
    color: #999;
}
nav ul li a:before {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
}
nav ul li a[href^="#"]:before {
    content: '# ';
}
nav ul li a[href^="http"]:before {
    content: '⬈ ';
}

main, .summary {
    line-height: 28px;
}
main h1, main h2, main h3, main h4 {
    font-family: 'Montserrat', sans-serif;
    clear: both;
}

main h1 {
    margin: 50px 0;
    padding: 20px 30px;
    background: #186643;
    color: #fff;
    font-size: 28px;
    line-height: 40px;
}
main h2 {
    margin-bottom: 30px;
    padding: 20px;
    color: #186643;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #186643;
    text-align: center;
}

main pre, main p code {
    white-space: pre-wrap;
    word-break: break-word;
}
main pre code span.select {
    user-select: all;
}

span.break, span.nobreak {
  visibility: hidden;
}

main .prop_card img {
    order: 0;
    width: 210px;
    height: auto;
    margin: 0 auto;
}
main .prop_card img + p {
    flex: 1;
}
main .prop_card p + p {
    order: 2;
    padding: 0;
    margin: 5px 0;
    font-style: italic;
    min-height: 75px;
}
main .prop_card button {
    padding: 7px 10px;
}
main .prop_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main .prop_card {
    display: flex;
    flex-direction: column;
    padding: 7px 15px;
    width: 210px;
    line-height: 25px;
    text-align: center;
}
main .prop_card * {
    width: 100%;
    order: 1;
}
main .prop_card h3 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

footer {
    border-top: 1px solid #18664344;
    padding-top: 20px;
    margin: 50px auto 30px;
    text-align: center;
}

@media (max-width: 950px) {
    #codeAndConsole {
        display: block;
    }
    #consoleContainer {
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .code-example-50 {
        width: 100%;
    }
}
